body { padding-top: 70px; }
.container {
    padding-bottom: 10px;
    padding-top: 10px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
.addon-padding-down-0 {
    padding-bottom: 0;
}
.addon-padding-top-0 {
    padding-top: 0;
}
.addon-color-bg-red {
    background-color: #cc0000;
}
.addon-padding-right-13 {
    padding-right: 13px;
}